.banner{
    width: 100%;
    min-height: 500px;
}

.bannerContent{
    position: relative;
    top:100px;
    width: 70%;
    color:white;
}

.background{
    position: absolute;
    width: 100%;
    top:0px;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-position:center ;
    min-height: 520px;
}

.bannerSide{
    width: 70%;
    margin: auto;
    h3{
        font-size: 40px;
    }
    p{
        width: 80%;
        font-size: 20px;
    }

}

.taglineside{
    display: block;
    font-weight: 700;
    position: absolute;
    top:340px;
    right: -300px;
    bottom: 0px;
}


@media only screen and (max-width:1126px) {
    .banner{
        display: flex;
        justify-content: center;
        align-content: center;
        .bannerSide{
            text-align: center;
            width: 90%;
            h3{
                line-height: 50px;
                font-size: 30px;
            }
            p{
                line-height: 30px;
                font-size: 18px;
                margin: 30px auto;
            }
        }
    }
    .taglineside{
        font-size: 1.4rem;
        position: static;
        text-align: center;
        margin-top: 20px;
        p{
            text-align: center;
        }
    }
}

@media only screen and (max-width:710px) {
    .banner,.background{
        height: 620px;
    }
}

@media only screen and (max-width:785px) {
    .banner,.background{
        height: 610px;
    }
}




@media only screen and (max-width:538px) {
    .banner,.background{
        height: 720px;
    }
}
