.marketcontainer{
    background-color: #2D2157;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: bottom;
    z-index: 7;
    display: flex;
    padding: 40px;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    position: relative;
    .leftimg{
        z-index: 7;
        max-width: 350px;
        max-height: 400px;

    }
    .info{
        z-index: 7;
        max-width: 700px;
        h1{
            font-size: 4rem;
            font-weight: 500;
            line-height: 65px;
        }
        p{
            font-size: 1.1rem;
            line-height: 25px;
            text-align: justify;
            margin-bottom: 40px;
        }

    }
    .backgroundmarket{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

}

.backgroundmarket{
    position: absolute;
    width: 100%;
    // top:80px;
    z-index: 2;
    bottom: 0px;
    background-size: cover;
    background-position:center ;
    min-height: 360px;
}


@media only screen and (max-width:1126px) {
    .marketcontainer{
        flex-direction: column;
        height: fit-content;
        .leftimg{
            max-width: 350px;
        }
        .info{
            h1{
                font-size: 3rem;
                text-align: center;
            }
        }
    }

}
